*/.bsp/
*/.metals/
*/.vscode/
*/project/
*/target/
*/test_run_dir/
*.json
*.fir
*.v
*.metals
*.vscode
*/generated/
*.vcd
CPU/obj_dir
CPU/target
*.v
*.json
*.fir
/CPU_unified_memory/target
/CPU_unified_memory/project
/CPU_unified_memory/obj_dir
*/generated/
*/generated/
*.log
*.jou
*.str
*/target/
*/target/
